# Flask and Web Server
flask==2.3.2
flask-cors

# Hugging Face Libraries (for both training and inference)
transformers==4.38.2
datasets>=2.19.0
accelerate==0.29.3
peft==0.9.0
huggingface_hub

# Core AI & Audio Libraries
torch
soundfile==0.12.1
librosa==0.10.1
numpy==1.23.5

# Database Connector
mysql-connector-python==8.0.33